header, section, footer, aside, nav, article, figure, figcaption, hgroup{
	display: block;
}
div#tabla_uno{
    width:300px;
    position:relative;
    float: left;
    height: auto;
    margin-right: 10px;
} 
div#tabla_dos{
    width:300px;
    position:relative;
    float: left;
    height: auto;
}
.espacio-arriba{
    margin-top: 20px; 
}
.espacio-abajo{
    margin-bottom: 20px;
}
.quitar-float{
    float: none;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.esthela {
        float:right;
        width:450px;
        height:350px;
        background: url("../Imagenes/notas.png")no-repeat !important;
        display:block;
        right: -400px;
        padding:0;
        position:fixed;
        top: 280px;
        z-index:1002;
}